DB_USER=postgres
DB_PASSWORD=your_postgres_password
EMAIL_HOST_USER=your_gmail_address
EMAIL_HOST_PASSWORD=your_gmail_app_password
SECRET_KEY=your_django_secret_key
DEBUG=debug
REDIS_URL=redis://localhost:6379/0
ALLOWED_HOSTS=your_allowed_hosts
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CSRF_TRUSTED_ORIGINS=
