{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/errorstyling.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
{% endblock %}
{% block content %}
<form method="post" novalidate class="container mx-auto px-4 py-8">
    <div class="flex flex-col justify-center align-middle w-100 items-center gap-4 mx-auto bg-white p-12 rounded shadow">
        <h1 class="text-2xl font-semibold mb-8">Sign in</h1>
        {% csrf_token %}
        <div class="mb-4 w-57">
            <label class="text-lg">Username or Email</label>
            <p class="border rounded-sm w-57 p-1">{{ form.username }}</p>
            <p>{{ form.username.errors }}</p>
        </div>
        <div class="flex flex-col items-start mb-2 w-57">
            <label class="text-lg">{{ form.password.label }}</label>
            <div class="border rounded-sm w-57 p-1 flex">{{ form.password }}
                <button id="LoginTogglePassword" class="ml-2" type="button">
                    <i id="pass-icon-login" class="fa-solid fa-eye"></i>
                </button>
            </div>
            <p>{{ form.password.errors }}</p>
        </div>
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}

         <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Login</button>
        <a href="{% url 'register' %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Don't have an account?</a>
    </div>
</form>
<script src="{% static 'password_eye.js' %}"></script>
{% endblock %}