{% extends 'base.html' %}
{% load static %}
{% block content %}
<form method="post" class="[&_input]:outline-none border rounded-sm flex flex-col items-start p-4 gap-4 text-xl">
    {% csrf_token %}
    <div class="flex flex-col gap-1">
        <div class="flex flex-col items-start mb-2 w-60">
            <label class="text-lg">{{ form.new_password1.label }}</label>
            <div class="border rounded-sm w-60 p-1 flex [&_input]:w-50">
                {{ form.new_password1 }}
                <button id="ToggleNewPassword" class="" type="button">
                    <i id="new-pass-icon" class="fa-solid fa-eye"></i>
                </button>
            </div>
        </div>
        <div class="flex flex-col items-start mb-2 w-60">
            <label class="text-lg">{{ form.new_password2.label }}</label>
            <div class="border rounded-sm w-60 p-1 flex [&_input]:w-50">
                {{ form.new_password2 }}
                <button id="ToggleNewPassword2" class="" type="button">
                    <i id="new-pass-icon2" class="fa-solid fa-eye"></i>
                </button>
            </div>
            <div class="max-w-60 text-lg text-red-500">{{ form.new_password2.errors }}</div>
        </div>
    </div>
    <button class="mx-auto border rounded-sm p-2 bg-green-300" type="submit">Set New Password</button>
</form>
<script src="{% static 'password_eye.js' %}"></script>
{% endblock %}