{% extends 'base.html' %}


{% block content %}
{% include 'common/profile_navbar.html' %}
<div class="mt-8 rounded-sm w-140 gap-4 bg-white shadow-2xl">
    <!-- Top Section -->
    <div class="flex flex-col">
        <div class="flex gap-4 px-8 py-4 border-b border-gray-500">
            <form method="POST" action="{% url 'update-vet-photo' %}" enctype="multipart/form-data" class="flex flex-col gap-2">
                {% csrf_token %}
                {% block profile_pic %}{% endblock %}
                {% block change_pic_button %}{% endblock %}
            </form>
            <div class="flex flex-col gap-2 mt-5">
                <div class="flex flex-row text-2xl">
                    <p>{{ user.username }}</p>
                </div>
                <div class="flex flex-row gap-2">
                    <label class="font-light">Joined On </label>
                    <p>{{ user.date_joined|date:"d/m/Y" }}</p>
                </div>
            </div>
        </div>
    <!-- Middle Section -->
        <h1 class="text-gray-400 text-lg ml-8 mt-5">Account</h1>
        <div class="px-8 py-4">
            <div class="grid grid-cols-2 gap-2 border-b py-2 border-gray-300">
                        <div class="flex flex-row gap-2">
                <label class="font-light">First Name </label>
                <p>{{ user.first_name }}</p>
                </div>
                    <div class="flex flex-row gap-2">
                    <label class="font-light">Last Name </label>
                    <p>{{ user.last_name }}</p>
                </div>
                <div class="flex flex-row gap-2">
                    <label class="font-light">Email </label>
                    <p>{{ user.email }}</p>
                </div>
                <div class="flex flex-row gap-2 mb-6">
                    <label class="font-light">Phone Number </label>
                    {% if user.phone %}
                        <p>{{ user.phone }}</p>
                    {% else %}
                        <p></p>
                    {% endif %}
                </div>
            </div>
        </div>
    <!-- Bottom Section -->
        {% block vet_bottom_section %}
        {% endblock %}
         <footer class="flex my-4 mx-6 justify-between">
            {% block publish_button %}
            {% endblock %}
            <form method="post" action="{% url 'logout' %}"
            class=" bg-slate-400 flex border py-1 px-2 rounded-sm w-fit">
            {% csrf_token %}
            <button type="submit" class="hover:cursor-pointer">Logout</button>
            </form>
        </footer>
    </div>
</div>
{% endblock %}
