{% extends 'base.html' %}

{% block content %}
<div class="flex m-4 flex-col gap-4 justify-center items-center">
    <div class="flex gap-2 mb-4">
        <a class="text-2xl m-2 border rounded-sm p-1 bg-gray-300" href="{% url 'service-create' %}">Create Service +</a>
        <a class="text-2xl m-2 border rounded-sm p-1 bg-gray-300" href="{% url 'vets-list' %}">Back to Vets</a>
    </div>

    {% if services %}
        <div class="flex flex-wrap gap-3 justify-center">
            {% for service in services %}
                <div class="flex border p-4 rounded-sm gap-2 items-center">
                    <span class="text-xl font-semibold">{{ service.name }}</span>
                    <div class="flex gap-1">
                        <a href="{% url 'service-update' pk=service.pk %}" class="bg-blue-500 text-center rounded-sm border border-black py-1 px-2 text-white hover:underline text-sm">Edit</a>
                        <a href="{% url 'service-delete' pk=service.pk %}" class="bg-red-500 text-center rounded-sm border border-black py-1 px-2 text-white hover:underline text-sm">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-gray-500 text-lg">No services created yet.</p>
    {% endif %}
</div>
{% endblock %}
