{% extends 'accounts/profile_card.html' %}

{% block profile_pic %}
    {% if vet.photo %}
        <img id="ImagePreview" class="h-30 w-30 rounded-full" src="{{ vet.photo.url }}">
    {% else %}
        <div id="imagePreviewDiv" class="h-30 w-30 mx-auto rounded-full border bg-gray-100 flex items-center justify-center text-gray-400">No photo</div>
        <img id="ImagePreview" class="h-30 w-30 rounded-full hidden" src="">
    {% endif %}
{% endblock %}


{% block change_pic_button %}
<input type="file" name="photo" accept="image/*" id="photo-input" class="hidden"
       onchange="this.form.submit()">
<label class="flex justify-center items-center p-1 rounded-sm bg-gray-300 text-sm border" for="photo-input">Change Photo</label>
{% endblock %}



{% block vet_bottom_section %}
        <h1 class="text-gray-400 text-lg ml-8 mt-5">Vet Profile</h1>
        <div class="px-8 py-4">
            <div class="grid grid-cols-2 gap-2 py-2">
              {% block fields %}
                <div class="flex flex-row gap-2">
                    <label class="font-light">Specialization: </label>
                    <p>{{ vet.specialization }}</p>
                </div>
                <div class="flex flex-row gap-2">
                    <label class="font-light">Years of experience: </label>
                    <p>{{ vet.years_of_experience }}</p>
                </div>
              {% endblock %}
            </div>
            <div class="py-2 border-gray-300 border-b">
                {% block biography %}
                    <form method="POST" action="{% url 'update-vet-bio' %}">
                        {% csrf_token %}
                        <div class="grid grid-cols-1 w-125">
                            <label class="font-light">Biography: </label>
                            <textarea onchange="this.form.submit()" class="border border-gray-600 mb-6 rounded-sm p-2" name="bio" rows="3" style="resize:none">{{ vet.bio }}</textarea>
                        </div>
                    </form>
                {% endblock %}
            </div>
        </div>
{% endblock %}

{% block publish_button %}
    <form method="post" action="{% url 'publish-vet' %}"
    class=" bg-slate-400 flex border py-1 px-2 rounded-sm w-fit">
    {% csrf_token %}
    {% if vet.is_published and vet.photo %}
        <button type="submit" class="hover:cursor-pointer">Unpublish</button>
    {% else %}
        <button type="submit" class="hover:cursor-pointer">Publish</button>
    {% endif %}
    </form>
{% endblock %}

{% block scripts %}
<script>
    const input = document.getElementById('photo-input')
    const preview = document.getElementById('ImagePreview')
    const noPhoto = document.getElementById('imagePreviewDiv')

    function readAndPreview(file) {
        const reader = new FileReader();

        reader.addEventListener('load', function () {
        preview.src = reader.result;
        noPhoto.classList.add('hidden')
        preview.classList.remove('hidden')
        });

        reader.readAsDataURL(file);
    }

    input.addEventListener('change', function () {
        const file = input.files[0]
        if (file) {
            readAndPreview(file);
        }
    })

</script>

{% endblock %}
