{% extends 'base.html' %}

{% block content %}
    <form method="get" action="{% url 'vet-search' %}" class="relative mt-10">
        <input class="border bg-white p-2 w-md focus:outline-none" type="text" id="search-input" name="search" placeholder="Search">
        <div class="bg-white flex flex-col border border-t-0 w-md rounded-b-sm hidden absolute" id="results"></div>
    </form>
<div class="p-2 gap-4 flex flex-col m-10">
    {% for object in object_list %}
        {% if object.is_published %}
            <a href="{% url 'vets-detail' slug=object.slug pk=object.pk %}" class="border rounded-sm p-2 flex h-60 w-2xl gap-4 bg-orange-100">
            <div class="flex w-fit flex-col">
              <div class="flex flex-row justify-center gap-2 font-semibold text-lg">
                <p>{{ object.user.first_name }}</p>
                <p>{{ object.user.last_name }}</p>
              </div>
              {% if object.photo %}
                <img class="mt-3 border rounded-sm h-45 w-50 object-cover" src="{{ object.photo.url }}">
              {% else %}
                <div id="imagePreviewDiv" class="mt-3 h-45 w-50 mx-auto rounded-sm border bg-gray-100 flex items-center justify-center text-gray-400">No photo</div>
                <img id="ImagePreview" class="h-45 w-50 rounded-full hidden" src="">
              {% endif %}
            </div>
            <div class=" w-md gap-2 flex flex-col flex-wrap">
              <div>
                <label class="text-xl font-semibold">Specialization</label>
                <p>{{ object.specialization }}</p>
              </div>
              <div>
                <label class="text-xl font-semibold">Years of experience</label>
                <p>{{ object.years_of_experience }}</p>
              </div>
              <div>
                <label class="text-xl font-semibold">Biography</label>
                <p class="w-100 overflow-hidden text-ellipsis">{{ object.bio }}</p>
              </div>
            </div>
            </a>
        {% endif %}
    {% endfor %}
  <div class="inline mx-auto gap-2">
    {% if page_obj.has_previous %}
      <a class="border py-1 px-2 rounded-sm bg-gray-200" href="?page=1">First</a>
      <a class="border py-1 px-2 rounded-sm bg-gray-200" href="?page={{ page_obj.prev_page_number }}">Previous</a>
      {% endif %}
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      {% if page_obj.has_next %}
      <a class="border py-1 px-2 rounded-sm bg-gray-200" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="border py-1 px-2 rounded-sm bg-gray-200" href="?page=last">Last</a>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        const input = document.getElementById('search-input')
        const results = document.getElementById('results')

        input.addEventListener('input', async () => {

            const query = input.value

            if (query.length < 3) {
                results.classList.add('hidden')
                return
            }
            const res = await fetch(`api/vets/?search=${query}`)
            const data = await res.json()

            if (!query) {
                console.log('its here !query')
                results.classList.remove('border')
                results.innerHTML = ''
                input.classList.remove('rounded-b-none')
                return
            } else {
                results.classList.remove('hidden')
            }

            if (data.results.length === 0) {
                results.classList.add('hidden')
                results.classList.remove('rounded-b-none')
            } else {
                results.classList.add('border')
            }

            results.innerHTML = data.results.map(vet => `<a href="${vet.slug}/${vet.vet_id}" class='w-md flex justify-center p-1   border-b last:border-b-0'>${vet.first_name} ${vet.last_name}</a>`).join('');
        });

        input.addEventListener('blur', () => {
            setTimeout(() => {
                results.classList.add('hidden')
                input.classList.remove('rounded-b-none')
            }, 150);
        });

        input.addEventListener('keydown', (event) => {
            if (event.key === "Enter") {
                event.preventDefault();
                if (input.value.length >= 3) {
                    input.form.submit();
                }
            }
        });
    </script>
{% endblock %}