
{% block navbar %}
<nav class="z-10 absolute text-center text-lg bg-gray-100 border border-t-0 top-17 w-200 grid grid-cols-5">
    {% if user.role == 'OWNER' %}
        <a href="{% url 'user-profile' %}" class="hover:bg-gray-200 border-r p-2">Your Profile</a>
    {% else %}
        <a href="{% url 'vet-profile' %}" class="hover:bg-gray-200 border-r p-2">Your Profile</a>
    {% endif %}
    <a class="hover:bg-gray-200 border-r p-2">Orders</a>
    <a href="{% url 'pets' %}" class="hover:bg-gray-200 border-r p-2">Pets</a>
    {% if user.role == 'OWNER' %}
        <a class="hover:bg-gray-200 border-r p-2">Appointments</a>
    {% else %}
        <a href="{% url 'vet-schedule' slug=user.vet_profile.slug %}" class="hover:bg-gray-200 border-r p-2">Schedule</a>
    {% endif %}
    <a class="hover:bg-gray-200 p-2">Saved</a>
</nav>
{% endblock %}