{% extends 'base.html' %}

{% block navbar %}
    {% if user.role == 'VET' %}
        <nav class="sticky text-center text-lg bg-gray-100 border border-t-0 w-xl grid grid-cols-4">
    {% else %}
        <nav class="sticky text-center text-lg bg-gray-100 border border-t-0 w-xl grid grid-cols-4">
    {% endif %}
    {% if user.role == 'OWNER' %}
        <a href="{% url 'user-profile' %}" class="hover:bg-gray-200 border-r p-2">Your Profile</a>
    {% else %}
        <a href="{% url 'vet-profile' %}" class="hover:bg-gray-200 border-r p-2">Your Profile</a>
    {% endif %}
    <a href="{% url 'pets' %}" class="hover:bg-gray-200 border-r p-2">Pets</a>
    {% if user.role == 'OWNER' %}
        <a href="{% url 'appointments' %}" class="hover:bg-gray-200 p-2 border-r">Appointments</a>
    {% elif user.role == 'VET' and user.vet_profile %}
        <a href="{% url 'vet-schedule' slug=user.vet_profile.slug %}" class="hover:bg-gray-200 border-r p-2">Schedule</a>
    {% endif %}
    {% if user.role == 'VET' and user.vet_profile %}
        <a href="{% url 'vet-favorited_by' %}" class="hover:bg-gray-200 p-2">Favorited By</a>
    {% else %}
        <a href="{% url 'user-favorites' %}" class="hover:bg-gray-200 p-2">Favorites</a>
    {% endif %}
</nav>
{% endblock %}